extends layout

block content
  <!-- canvas(width="1000", height="1000") -->

  canvas

  script(src="js/jsartoolkit.min.js")
  script(src="js/magi.js")
  script(src="js/three.js")
  script(src="js/requestAnimationFrame.js")
  script(src="js/shimUserMedia.js")
  script(src="js/threex.jsartoolkit.js")
  script(src="js/jsartoolkit-wrapper.js")
  script(src="js/main.js")
